@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Barlow', sans-serif;
}

.reveal {
	position: relative;
	transform: translateY(50px);
  scale: 0.75;
	opacity: 0.25;
	transition: all 1s ease;
}

.reveal.active {
  scale: 1;
	transform: translateY(0px);
	opacity: 1;
}

#context-menu {
 position: fixed;
 visibility: hidden;
}